# Build/Work directories
isofiles/

# ISO Files
iso/*.iso

# Node.js
node_modules/
scripts/py-preseed/package-lock.json

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment Variables
.env
.env.*

# IDEs / Editor
.vscode/
.idea/

# Ansible
*.retry
