# D-I config version 2.0
# search path for the c32 support libraries (libcom32, libutil etc.)
path 
prompt 0
timeout 0
include menu.cfg
default vesamenu.c32
label install
	menu label ^Install
	kernel /install.amd/vmlinuz
	append vga=788 initrd=/install.amd/initrd.gz --- quiet 
